main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 60px;
  background-color: #F6F3EB;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Title */
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #395144;
  margin-bottom: 10px;
  text-align: left;
}

p.intro {
  color: #395144;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Contact */
.contact-info {
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
  margin: 60px auto;
  padding: 0 20px;
  max-width: 1200px;
  align-items: center;
}

.info-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  color: #395144;
}

.info-text-item {
  display: flex;
  flex-direction: column;
}

.info-text-item div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 6px;
  color: #395144;
}

.info-text-item i {
  font-size: 21px;
  color: #395144;
}

.info-text-item p {
  margin: 0;
  padding-left: 30px;
  color: #395144;
  line-height: 1.6;
  font-size: 17px;
}

.info-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-banner img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
}

/*Form*/
.contact-form-section h2 {
  color: #395144;
  font-weight: 700;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 10px;
  margin-left: 40px;
}

.contact-form-section .intro {
  font-size: 18px;
  color: #395144;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form {
  background: #f6f3eb;
  border-radius: 10px;
  padding: 60px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #c7b36b;
  border-radius: 8px;
  background: #fffdf8;
  font-size: 17px;
  color: #395144;
  font-family: "SVN-Gilroy", sans-serif;
  transition: all 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #7a8a3f;
  box-shadow: 0 0 0 2px rgba(136, 156, 99, 0.3);
}

.business-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.radio-label {
  font-weight: 600;
  color: #395144;
  margin-bottom: 5px;
  text-align: left;
  font-size: 18px;
}

.radio-buttons {
  display: flex;
  gap: 20px;
}
.radio-buttons input[type="radio"] {
  display: none;
}

/* Label đóng vai trò như nút */
.radio-btn {
  display: inline-block;
  width: 95px;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  background-color: #fffdf8;
  color: #395144;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "SVN-Gilroy", sans-serif;
  border: 2px solid #c7b36b;
}

/* Hover */
.radio-btn:hover {
  background-color: #395144;
  color: #fff;
  border: 2px solid #395144;
}

/* Khi được chọn */
.radio-btn:active {
  transform: scale(0.95);
}
.radio-buttons input[type="radio"]:checked + .radio-btn {
  background-color: #395144;
  color: #fff;
  font-weight: 600;
  border: 2px solid #395144;
}

textarea {
  min-height: 140px;
  resize: none;
}

/* Submit button */
button[type="submit"] {
  background-color: #395144;
  color: #fff;
  border: none;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
  border: 2px solid #395144;
}

button[type="submit"]:hover {
  background-color: transparent;
  color: #395144;
}

/* Popup Notification (Submitted)*/
#submitted-popup i {
  font-size: 20px;
  color: #32cd32;
}

button[type="submit"]:active {
  transform: scale(0.98);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .info-text {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .info-text-item div {
    font-size: 26px;
  }
  .info-text-item i {
    font-size: 28px;
  }
  .info-text-item p {
    font-size: 24px;
  }

  .info-banner img {
    max-width: 80%;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 430px) {
  .info-text-item div {
    font-size: 20px;
  }
  .info-text-item i {
    font-size: 22px;
  }
  .info-text-item p {
    font-size: 18px;
  }

  .business-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .radio-label {
    font-size: 16px;
    margin-bottom: 0;
  }

  .radio-buttons {
    gap: 12px;
    width: 60%;
  }

  .radio-btn {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
  }
}


