a {text-decoration: none;}

.products-overview {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 20px 40px 0;
}

/* title */
.page-title {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 30px;
  text-align: left;    
}

.page-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: none;
  color: #395144;
  margin-left: 0;
}   

/* product category */
.product-category {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 80px;
}

.product-category h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #395144;
  margin-bottom: 15px;
}

/* product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-item img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* product detail */
.product-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: #395144;
  margin: 16px 0 8px;
}

.price {
  font-size: 1rem;
  font-weight: 600;
  color: #C0A060;
}

.product-item:hover{
  transform: scale(1.03);
  color: #7A8A3F;
  transition: transform 0.3s ease;
}

/* responsive */
@media (max-width: 768px) {
  .page-title h1 {
    font-size: 2rem;
  }

  .product-category h2 {
    font-size: 1.4rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}